@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
}
* a {
  color: unset;
}
*.stick-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
}
*.bg-light {
  background-color: #FFFFFF;
}
*.bg-gray {
  background-color: #eeeeee;
}
*.bg-blur {
  background-color: rgba(8, 8, 8, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}
*.bg-light a,
*.bg-light h1,
*.bg-light h2,
*.bg-light h3,
*.bg-light h4,
*.bg-light input,
*.bg-light select, *.bg-gray a,
*.bg-gray h1,
*.bg-gray h2,
*.bg-gray h3,
*.bg-gray h4,
*.bg-gray input,
*.bg-gray select {
  color: #111111;
}
*.bg-light p, *.bg-gray p {
  color: #666666;
}
*.bg-dark {
  background-color: #111111;
}
*.bg-blur a,
*.bg-blur h1,
*.bg-blur h2,
*.bg-blur h3,
*.bg-blur h4, *.bg-dark a,
*.bg-dark h1,
*.bg-dark h2,
*.bg-dark h3,
*.bg-dark h4 {
  color: #FFFFFF;
}
*.bg-blur p, *.bg-dark p {
  color: #666666;
}
* a {
  font-weight: 600;
}
* a:hover {
  color: #0071e3;
}
* a.logo {
  font-weight: 800;
  font-size: 20px;
}
* a,
* p {
  font-size: 16px;
}
* p {
  font-weight: 400;
}
* h1 {
  font-size: 48px;
}
* h2 {
  font-size: 32px;
}
* h3 {
  font-size: 24px;
  margin: 8px 0;
}
* h4 {
  font-size: 16px;
}
* h1,
* h2,
* h3,
* h4 {
  font-weight: 600;
}
* ul {
  display: flex;
  padding: 0;
  margin: 0;
}
* input,
* select,
* textarea {
  border: 1px solid #CCCCCC;
  padding: 8px 16px;
}
* input:focus,
* select:focus,
* textarea:focus {
  border: 1px solid #0071e3;
}
* button {
  border: 0;
  background-color: #0071e3;
  color: #FFFFFF;
  cursor: pointer;
  padding: 16px 24px;
}
* button:hover {
  background-color: #0280fd;
}
* input,
* select,
* textarea,
* button {
  border-radius: 8px;
  font-size: 16px;
}
* input:focus,
* select:focus,
* textarea:focus,
* button:focus {
  outline: 0;
}
* input,
* select,
* textarea {
  width: 100%;
}
* figure {
  margin: 32px 0;
  display: flex;
  width: 100%;
}
* img,
* iframe,
* video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  border: 0;
  display: flex;
  height: 480px;
}
* img.logo,
* iframe.logo,
* video.logo {
  width: 80px;
  height: unset;
}
*.comic-data {
  height: 400px;
}
*.flex {
  display: flex;
  gap: 0 24px;
}
*.mobile {
  flex-direction: column;
  gap: 24px 24px;
  display: none;
}
*.mobile ul {
  gap: 24px 48px;
}
*.column {
  flex-direction: column;
}
*#view {
  display: none;
}
*.grid {
  display: grid;
}
*.single {
  grid-template-columns: repeat(1, 1fr);
  gap: 0 24px;
}
*.double {
  grid-template-columns: repeat(2, 1fr);
  gap: 0 48px;
}
*.triple {
  grid-template-columns: repeat(3, 1fr);
  gap: 0 24px;
}
*.align {
  align-items: center;
}
*.justify {
  justify-content: center;
}
*.text-center {
  text-align: center;
}
*.shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.0862745098);
}
* form {
  display: grid;
  gap: 16px 0;
}
* .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
* .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  width: 480px;
}
* .modal-content img {
  height: 320px !important;
}
* .close {
  position: absolute;
  top: 16px;
  right: 24px;
  font-size: 24px;
  color: #666666;
  cursor: pointer;
}
* .close:hover {
  color: #111111;
}

body {
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

header nav,
footer nav {
  padding: 24px 96px;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul,
footer nav ul {
  align-items: center;
  justify-content: space-between;
  gap: 0 48px;
}
header nav ul li a,
header nav ul li p,
footer nav ul li a,
footer nav ul li p {
  margin: 0;
}
header .dropdown,
footer .dropdown {
  position: relative;
  display: inline-block;
}
header .dropdown-content,
footer .dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 120px;
  z-index: 1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
header .dropdown-content a,
footer .dropdown-content a {
  color: #111111;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}
header .dropdown-content a:hover,
footer .dropdown-content a:hover {
  background-color: #eeeeee;
}
header .dropdown:hover .dropdown-content,
footer .dropdown:hover .dropdown-content {
  display: block;
}

.wrapper-container {
  margin-top: 93px;
}
.wrapper-container .container-content .content-box {
  padding: 48px 96px;
  margin: 0 auto;
  max-width: 1440px;
}
.wrapper-container .container-content .content-box .box-layer {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #eeeeee;
  margin: 16px 0;
}

@media screen and (max-width: 1024px) {
  *.double, *.triple {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 48px;
  }
  header nav,
  footer nav {
    padding: 24px 48px;
  }
  header nav ul,
  footer nav ul {
    gap: 0 24px;
  }
  .wrapper-container .container-content .content-box {
    padding: 48px 48px;
  }
}
@media screen and (max-width: 768px) {
  *.web {
    display: none;
  }
  *.mobile {
    display: flex;
  }
  *.single, *.double, *.triple {
    grid-template-columns: repeat(1, 1fr);
    gap: 0 24px;
  }
  * .modal-content {
    width: 100%;
  }
  header nav,
  footer nav {
    padding: 24px 24px;
  }
  header nav ul,
  footer nav ul {
    gap: 0 24px;
  }
  .wrapper-container .container-content .content-box {
    padding: 48px 24px;
  }
}
